<a href="https://colab.research.google.com/github/Sandeep-Suthar9467/DA-Lab/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency
from statsmodels.formula.api import ols
import warnings
warnings.filterwarnings( "ignore" )

In [3]:
df = pd.read_csv("/content/Iris.csv")
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

T-test

In [4]:
df_ = df.petal_width
print(np.mean(df_.sample(25)))

1.196

In [5]:
np.mean(df['petal_width'])

1.1986666666666668

In [6]:
print(stats.ttest_1samp(a=df_, popmean=1.172))

Ttest_1sampResult(statistic=0.4279552321352493, pvalue=0.6693016362202382)

Analyzing the one-sample t-test, it finds out if the hypothesized mean is similar to or different from the group’s mean. From the example above, we’ve selected the petal_width as the population sample to perform the test on.

From the test, since the p-value beats the alpha level set at 0.05, we acknowledge the null hypothesis because we don’t have enough evidence to prove otherwise.

Thus the null hypothesis cannot be rejected.

Chi-Square Test

In [7]:
def petal_cat(df):
    if df['petal_width'] <= 1.3:
        return 0
    elif df['petal_width'] > 1.3:
        return 1
    else:
        return 'Indifferent'

df['petal_width_new'] = df.apply(petal_cat, axis=1)

In [8]:
def species_cat(df):
    if df["species"] == "Iris-virginica":
        return 0
    elif df["species"] == "Iris-versicolor":
        return 1
    else:
        return 2
df["species"] = df.apply(species_cat, axis=1)

In [9]:
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,petal_width_new
69,5.6,2.5,3.9,1.1,1,0
55,5.7,2.8,4.5,1.3,1,0
35,5.0,3.2,1.2,0.2,2,0
39,5.1,3.4,1.5,0.2,2,0
25,5.0,3.0,1.6,0.2,2,0

In [10]:
df_new = df.drop(columns=["sepal_width", "sepal_length", "petal_length", "petal_width"])
df_new.head()

   species  petal_width_new
0        2                0
1        2                0
2        2                0
3        2                0
4        2                0

In [11]:
stat, p, dof, expected = chi2_contingency(df_new)
print("The degree of freedom is: ", dof)

The degree of freedom is:  149

In [12]:
prob = 0.95
alpha = 1.0 - prob
print('The alpha/significance level = %.3f' % alpha)
print('The p-value is = %.2f' % p)
if p <= alpha:
    print('Reject the Null Hypothesis (Reject H0)')
else:
    print('Accept the Null Hypothesis (Do not reject H0)')

The alpha/significance level = 0.050
The p-value is = 0.10
Accept the Null Hypothesis (Do not reject H0)

Univariate Regression Analysis

In [13]:
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

X = df_new['petal_width_new']
y = df_new['species']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                species   R-squared:                       0.668
Model:                            OLS   Adj. R-squared:                  0.665
Method:                 Least Squares   F-statistic:                     297.4
Date:                Tue, 22 Nov 2022   Prob (F-statistic):           3.11e-37
Time:                        18:13:40   Log-Likelihood:                -99.794
No. Observations:                 150   AIC:                             203.6
Df Residuals:                     148   BIC:                             209.6
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               1.6410      0.054     30.588      0.000       1.535       1.747
petal_width_new    -1.3355      0.077    -17.246      0.000      -1.488      -1.182
==============================================================================
Omnibus:                      796.908   Durbin-Watson:                   1.349
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               13.963
Skew:                           0.056   Prob(JB):                     0.000929
Kurtosis:                       1.510   Cond. No.                         2.57
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Multivariate Regression Analysis

In [14]:
df['species'] = df_new['species']

In [15]:
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

X = df[['petal_length', 'petal_width']]
y = df['species']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                species   R-squared:                       0.926
Model:                            OLS   Adj. R-squared:                  0.925
Method:                 Least Squares   F-statistic:                     915.8
Date:                Tue, 22 Nov 2022   Prob (F-statistic):           1.04e-83
Time:                        18:14:08   Log-Likelihood:                 12.545
No. Observations:                 150   AIC:                            -19.09
Df Residuals:                     147   BIC:                            -10.06
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            2.4261      0.054     44.693      0.000       2.319       2.533
petal_length    -0.1791      0.039     -4.639      0.000      -0.255      -0.103
petal_width     -0.6280      0.089     -7.036      0.000      -0.804      -0.452
==============================================================================
Omnibus:                        1.383   Durbin-Watson:                   1.338
Prob(Omnibus):                  0.501   Jarque-Bera (JB):                0.988
Skew:                          -0.167   Prob(JB):                        0.610
Kurtosis:                       3.217   Cond. No.                         25.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.